html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: border-box;
}

/* Test 1 */

.box{
    width: 200px;
    height: 100px;
    border: 5px solid darkblue;
    background-color: lightblue;
    padding: 10px;
    margin: 20px;
    text-align: center;
    justify-content: center;
    line-height: 100px;
}
h2{
    margin: 30px;
    width: 100px;
    height: 100px;
    text-decoration: solid;
    color: rgb(241, 187, 116);
}

/* Test 2 */

.container{
    width: 500px;
    height: 300px;
    background-color: lightgray;
    margin: auto;
    padding: auto;
}
.box1,.box2,.box3{
    width: 100px;
    height: 100px;
    transition: all .3s ease-in-out;

}
.box1{
    background-color: red;
    position: relative;
    top: 33.5%;
    left: 40%;
    transform: rotate(0deg);
    
}
.box2{
    background-color: green;
    position: relative;
    top: -50%;
    right: -90%;
    transform: rotate(45deg);
    
}
.box3{
    background-color: blue;
    position: relative;
    bottom: -16.5%;
    left: -10%;
    transform: rotate(-45deg);
    
}
.box1:hover, .box2:hover, .box3:hover{
    
    transform: rotate(180deg);
    filter: hue-rotate(90deg)
}

/* Test 3 */

.wrapper{
    width: 600px;
    height: 400px;
    background-color: white;
    border: 10px solid black;
    display: flex;
}
.left{
    width: 50%;
    height: 100%;
    background-color: yellow;
    flex-direction: column;
    display: flex;
}
.right{
    width: 50%;
    height: 100%;
    background-color: pink;
    flex-direction: column;
    display: flex;
}
.top-left{
    background-color: orange;
}
.bottom-left{
    background-color: purple;
}
.top-right{
    background-color: green;
}
.bottom-right{
    background-color: blue;
}
.top-left, .bottom-left, .top-right, .bottom-right{
    width: 100%;
    height: 50%;
}





